* {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px;
}

.logo-link {
    color: black;
}

.span-color {
    color:#4BCAFF;
}

.nav {
    background-color:#35444F;
    margin-top: 40px;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 24px 32px 18px;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;

    transition: 0.3s;
}

.nav-item:hover {
    background-color: #222F3A;
}

.nav-link {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
}

.main-content {
    display: flex;
    margin-top: 48px;
    gap: 52px;
}

.content-list {
    border: 1px #485863 solid;
    width: 344px;
    height: 399px;
}

.content-item {
    padding-top: 25px;
    padding-bottom: 29px;
    padding-left: 44px;

    transition: 0.3s;
}

.content-item:hover {
    background-color:#DBDBDB;
    padding-left: 75px;
}

.content-link {
    color:#485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;

    transition: 0.3s;
}

.content-image {
    border: 1px #010101 solid;
}

.ramda-image {
    margin: 75px 268px 75px 290px;
}

.content-paragraph {
    margin-top: 37px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.content-paragraph-second {
    margin-top: 13px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    background-color:#63696E7A;
    margin-top: 52px;
    margin-bottom: 30px;
    height: 69px;
}

.footer-menu {
    width: 875px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

.footer-link {
    color:#010101;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;

    transition: 0.3s;
}

.footer-link:hover {
    color:cadetblue;
    text-decoration: underline;
}

.copyright {
    display: flex;
    align-items: center;
}

.footer-copyright {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}